# ========================
# IDE
# ========================
.idea/
.vscode/

# ========================
# OS files
# ========================
.DS_Store
Thumbs.db

# ========================
# Logs
# ========================
*.log

# ========================
# Node (если вдруг используешь)
# ========================
node_modules/
package-lock.json

# ========================
# Build / cache
# ========================
dist/
build/

# ========================
# Env files
# ========================
.env
.env.local

# ========================
# Misc
# ========================
*.tmp
*.bak
*.swp